body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
.stopwatch{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 50px hsla(202, 100%, 50%, 0.466);
    border-radius: 50px;
    backdrop-filter: blur(10px);
    padding: 30px 50px;
}
.display{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.75);
    margin-bottom: 25px;
}
.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: box-shadow 0.3s ease;
}
.start-button{
    color: hsl(115, 100%, 40%);
}
.start-button:hover{
    box-shadow: 0 2px 10px hsl(115, 100%, 35%);
}
.stop-button{
    color: hsl(10, 90%, 50%);
}
.stop-button:hover{
    box-shadow: 0 2px 10px hsl(10, 90%, 50%);
}
.reset-button{
    color: hsl(205, 90%, 60%);
}
.reset-button:hover{
    box-shadow: 0 2px 10px hsl(205, 90%, 60%);
}